body{
    margin: 0;
    box-sizing: border-box
}

header{
    padding: 24px ;
    color: #4f46e5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    gap: 8px;
}

main{
    width: 70%;
    margin: auto;
    background-color: #ffffffe6;
    padding: 24px;

}

.random-word > h1{
        font-size: 3.7rem;
        margin: 0;
        width: 100%;
        text-align: center;
        color: #4f46e5 ;
}

.random-word > p {
    margin: 0px;
    text-align: center;
    color: #4B5569;
    margin-top: 8px;
    font-size: 1.3rem;

}

h2{
    margin: 0;
    font-size: 24px;
}
div{
    text-align: center;
    padding: 16px 0;
}


button{
    padding: 24px;
    border-radius: 8px;
    border: 1px solid blue;
    cursor: pointer;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}

#f{
    background-color:#0055A4;
}

#s{
    background-color: #AA151B;
}

#e{
    background-color: #1E3A8A;
}

.random-word-generate{
    padding: 24px 24px;
    margin-top: 30px;
    background-color: rgb(255 255 255 / 0.9);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 16px;

}

.test{
    padding: 24px 24px;
    border-radius: 16px;
    width: 80%;
    margin: auto;
    background-color: #eef2ff;
    margin-top: 30px;
}

.favorite-word{
    padding: 10px;
    border: none;
    background-color: #4f46e5;
}


@media (max-width:940px){
    .random-word > h1{
       font-size: 3rem ;
       text-align: center;
    }

}