body{
    margin: 0;
    box-sizing: border-box
}

header{
    padding: 24px ;
    color: #4f46e5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.amountWordContainer{
    position: relative;
    background-color: white;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

.amountWord{
    position: absolute;
    top: -15px;
    right:-10px;
    font-size: 16px;
    background-color: #4f46e5;
    color: white;
    padding: 4px;
    border-radius:10px;
}

main{
    width: 70%;
    margin: auto;
    background-color: #ffffffe6;
    padding: 24px;

}

.container-fav-word > h2{
    text-align: center;
    color: #212529;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}