body{
    margin: 0;
    box-sizing: border-box
}

header{
    padding: 24px ;
    color: #4f46e5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.amountWordContainer{
    position: relative;
    background-color: white;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

.amountWord{
    position: absolute;
    top: -15px;
    right:-10px;
    font-size: 16px;
    background-color: #4f46e5;
    color: white;
    padding: 4px;
    border-radius:10px;
}

main{
    width: 70%;
    margin: auto;
    background-color: #ffffffe6;
    padding: 24px;

}

.container-fav-word > h2{
    text-align: center;
    color: #212529;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container-favorite-word{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 160px 160px 160px ;
    gap: 24px;
}

.container-favorite-word > div {
    padding:16px 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.fav-word-icone{
    margin-bottom: 8px;
}
.bi-box-fill{
    color: #4f46e5;
    font-size: 18px;
}

.fav-word-title{
    font-size: 20px;
    color: #111827;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}

.fav-word-meaning {
    font-size: 16px;
    line-height: 1.4;
    color: #4B5563;
}